@font-face {
    font-family: '0xProto';
    src: url(0xProtoNerdFont/0xProtoNerdFont-Regular.ttf);
}
body {
    margin: 0;
    font-family: '0xProto';
    background-color: #764700;
    background-image: url('assets/background.png');
    background-repeat: repeat;
    background-size: 5%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/*custom whatever they're called*/
centerpanel{
    width: 50%;
    margin: auto;
}
toplinks{
    background-image: url('assets/worms.png');
    text-decoration: underline;
    justify-content: center;
    flex-direction: row;
    display: flex;
    color: antiquewhite;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
navigation{
    float: left;
    position: absolute;
    margin-top: 15%;
    margin-left: 2%;
    padding: 10px;
    background-color:rgb(90, 58, 16);
    width: 16%;
    height: auto;
    line-height: 30px;
    border-radius: 10px;
}
content{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    background-color: #aa6d13;
    padding: 2%;
    color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
a{
    color: antiquewhite;
}

/*convienenence classes*/
h1{
    font-size: xxx-large;
    text-align: center;
    color: antiquewhite;
}
h2{
    font-size: xx-large;
    display: inline-block;
    text-align: center;
    color: antiquewhite;
    margin: 1px;
}
.border{
    border: solid;
    border-color: #aa6d13;
    border-width: 10px;
    border-radius: 10px;   
}